
<div class="center">
<div class="container-fluid well span6">
    <div class="row-fluid">
          <div class="span2" >
          <%= image_tag gravatar_url(current_user.email, 128), class:"img-circle"%>
          </div>
          
          <div class="span8">
              <h3> <%= @user.name + " " +@user.last_name %></h3>
              <h6>Email:  <%= @user.email %></h6>
              <h6>Ubicacion: Chile</h6>
          </div>
          
          
  </div>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', :back %>
  </div>
  
  </div>