<%= simple_form_for([@project, @project_implementation]) do |form| %>


  <div class="field">
    <%= form.label :day %>
    <%= form.date_field :day, id: :project_implementation_day %>
  </div>

  <div class="field">
    <%= form.label :observations %>
    <%= form.text_field :observations, id: :project_implementation_observations %>
  </div>

  <div class="field">
    <%= form.label :advances %>
    <%= form.text_field :advances, id: :project_implementation_advances %>
  </div>

  <div class="field">
    <%= form.label :conflicts %>
    <%= form.text_field :conflicts, id: :project_implementation_conflicts %>
  </div>


  <div class="field">
    <%= form.label :new_ideas %>
    <%= form.text_field :new_ideas, id: :project_implementation_new_ideas %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
