<p id="notice"><%= notice %></p>

<h1>Project Implementations</h1>

<table>
  <thead>
    <tr>
      <th>Questions</th>
      <th>Answers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_implementations.each do |project_implementation| %>
      <tr>
        <td><%= project_implementation.questions %></td>
        <td><%= project_implementation.answers %></td>
        <td><%= link_to 'Show', project_implementation %></td>
        <td><%= link_to 'Edit', edit_project_implementation_path(project_implementation) %></td>
        <td><%= link_to 'Destroy', project_implementation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Implementation', new_project_implementation_path %>
