<p id="notice"><%= notice %></p>

<h1>Project Implementations</h1>

day:date observations:text advances:text conflicts:text new_ideas:text


<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Observaciones</th>
      <th>Avances</th>
      <th>Obstaculos</th>
      <th>Nuevas Ideas</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_implementations.each do |project_implementation| %>
      <tr>
        <td><%= project_implementation.day %></td>
        <td><%= project_implementation.observations %></td>
        <td><%= project_implementation.advances %></td>
        <td><%= project_implementation.conflicts %></td>
        <td><%= project_implementation.new_ideas %></td>
        <td>< # Son nested link_to 'Show', project_implementation ></td>
        <td>< # Son nested link_to 'Edit', edit_project_implementation_path(project_implementation) ></td>
        <td>< # Son nested link_to 'Destroy', project_implementation, method: :delete, data: { confirm: 'Are you sure?' } ></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Implementation', new_project_project_implementation_path %>
