<%= simple_form_for([@project, @project.build_project_connection]) do |form| %>

  <div class="field">
    <%= form.label "Tras la revisión del material presentado ¿qué necesidades, problemas o desafíos de
tu escuela puede(n) ayudar a solucionar la(s) metodología(s)
revisada(s)?" %>
    <%= form.text_area :needs, id: :project_connection_needs %>
  </div>

  <h3> Metodologías </h3>
    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th>Metodología</th>
          <th>Comentarios</th>
          <th>Utilidad</th>
          <th>Pertinencia</th>
          <th>Relevancia</th>
        </tr>
      </thead>
      <tbody class='fields'>
        <%= form.simple_fields_for :methodology_evaluation do |builder| %>
          <%= render 'methodology_evaluation', f: builder %>
        <% end %>
      </tbody>
    </table>



  <div class="field">
    <%= form.label "Con lo visto hasta el momento, ¿Qué ideas te surgen?,
¿qué acciones crees que podrías realizar?" %>
    <%= form.text_area :ideas, id: :project_connection_ideas %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
